body {
  font-family: Arial, sans-serif;
  background-color: #000; /* IMDb background color */
  color: #fff;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding-top: 80px; /* Space for fixed header */
}

.header {
  background-color: #111; /* Dark background for header */
  color: #fff;
  padding: 10px 20px; /* Added padding for space around the content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px; /* Fixed height for header */
  display: flex;
  align-items: center;
  justify-content: center; /* Center everything horizontally */
  gap: 20px; /* Space between title and search bar */
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #252525; /* Dark Blue Background */
  border-radius: 5px;
  height: 40px; /* Adjust height to fit header */
  padding: 0 10px; /* Add padding inside the search bar */
}

.search-bar input {
  padding: 8px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  width: 250px; /* Adjust width as needed */
  margin-right: 10px; /* Space between input and button */
  background-color: #333; /* Dark background for input */
  color: #fff; /* White text color */
}

.search-bar button {
  padding: 8px 12px;
  font-size: 1em;
  border: none;
  background-color: #F5C518; /* IMDb Yellow */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #333;
}
.trailer {
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}

.trailer iframe {
  width: 100%;
  height: 450px;
  border: none;
}
